<!--**************************************************************
    * home.client.view.html
    * @author Karlina Beringer
    * @description home page for the Breaking Bread app.
    **************************************************************-->
<section class="content">
<section data-ng-controller="HomeController" id="home-section" class="container">
  <div id="home_page_background" class="slide header">
      <h1>What will <em>you</em> bring to the table?</h1>
  </div>
  <div class="slide">
    <h2>Find friends with food to share.</h2>
    <p>
      Breaking Bread helps you find and make friends through sharing food. 
    </p>
  </div>
</section>
</section>