<section class="row" data-ng-controller="AuthenticationController">
	<!-- Background image to scroll past -->
	<section class="container feed-background">
		<!-- Foreground form to scroll past background -->
		<div class="col-md-6 formBox">
			<h1 style="color:white;padding:.8em;">Sign Up!</h1>
			<form name="userForm" data-ng-submit="signup()" class="signin form-inline" novalidate autocomplete="off">

				<fieldset style="border:none">
					<div class="form-group-inline">

						<label for="firstName">First Name&nbsp;</label>
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">&nbsp;

						<label for="lastName">Last Name&nbsp;</label>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">&nbsp;

						<label for="email">Email&nbsp;</label>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="	credentials.email" placeholder="Email">

					</div>
					<div class="form-group-inline">

						<label for="username">Username&nbsp;</label>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">&nbsp;

						<label for="password">Password&nbsp;</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">

					</div>
					<div class="text-center form-group-inline">
						<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
						<a href="/#!/signin" class="show-signup">Sign in</a>
					</div>

					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>
	</section>
</section> 