<!--**************************************************************
    * signup.client.view.html
    * @author Karlina Beringer
    * @description home page for the Breaking Bread app.
    **************************************************************-->
<section data-ng-controller="AuthenticationController" id="signup-section">
	<div id="signup_page_background" class="slide header">
		<h1>Don't have an account? Sign up now!</h1>
	</div>
	<div class="slide">
		<h2>Sign Up</h2>
		<form name="userForm" data-ng-submit="signup()" class="signin col-md-12 form-inline" novalidate autocomplete="off">
			<fieldset>
				<div class="col-md-4 formFields" id="first_name_field">
					<p for="firstName">
						First Name
					</p>
					<p>
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
					</p>
				</div>
				<div class="col-md-4" id="last_name_field">
					<p for="lastName">
						Last Name
					</p>
					<p>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
					</p>
				</div>
				<div class="col-md-4" id="email_field">
					<p for="email">
						Email
					</p>
					<p>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="col-md-4" id="username_field">
					<p for="username">
						Username
					</p>
					<p>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</p>
				</div>
				<div class="col-md-4" id="password_field">
					<p for="password">
						Password
					</p>
					<p>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</p>
				</div>
			</fieldset>
			<fieldset>
								<div class="text-center form-group-inline">
						<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
						<a href="/#!/signin" class="show-signup">Sign in</a>
					</div>

					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			</fieldset>
		</form>
	</div><!-- .slide -->
</section><!-- #signup-section --> 		