/** 
* core.css
* @author Karlina Beringer
* @description overall template for the Breaking Bread app.
*
* Theme Colors:
* Spring Green = 4AA02C
*/

html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

h1 {
   font-size: 250%
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}


.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7); 
  /* box-shadow: 0 0 8px rgba(0, 0, 0, .7); */
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
}

#title {
   /* background-image: url("/modules/core/img/content/appetizer-salmon.jpg"); */
   background-image: url("/modules/core/img/content/sandwhich.jpg");
   background-attachment: fixed; 
}

#slide1:before {
  background-image: url("http://lorempixel.com/output/abstract-q-c-640-480-4.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("http://lorempixel.com/output/abstract-q-c-640-480-3.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("http://lorempixel.com/output/abstract-q-c-640-480-5.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}
/* Don't bother with the stuff below for now */

.navbar {
  background: #4AA02C;
 	box-shadow: none;
 	border: none;
 	vertical-align: center;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	padding-left: 1em;
 	padding-right: 1em;
}
.navbar .navbar-brand {
	color: white;
	font-size: 24pt;
}
.navbar .navbar-brand:hover {
	color: #C3FDB8;
}
.navbar .nav > li > a {
	color: white ;
	font-size: 14pt;
}
.navbar .nav > li > a:hover {
	color: #C3FDB8;
}
.navbar .navbar-toggle, 
.navbar .navbar-toggle:focus {
  border: 2px solid white;
  background: none;
}
.navbar .navbar-toggle:hover {
  border: 2px solid #C3FDB8;
  background: none;
}
.navbar .navbar-toggle:hover .icon-bar {
	background: #C3FDB8;
}
.navbar .navbar-toggle .icon-bar {
	background: white;
	padding-top: 1px;
	height: 3px;
}
@media screen and (max-width: 768px) {
  .navbar-inverse .navbar-collapse {
    box-shadow: none;
    border-top: 2px solid white;
  }
}
.footer {
  background: #4AA02C;
 	box-shadow: none;
 	border: none;
 	vertical-align: center;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font-size: 14px;
 	text-align: center;
 	color: white;
 	padding: 1em;
}
#footer-link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#footer-link:hover,
#footer-link:focus {
	color: #C3FDB8;
	font-weight: bold;
}

/** Control the body fonts */
p, small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #523b4d;
}
h1, h2, h3, h4 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #4AA02C;
  text-shadow: 3px 3px 1px white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


a, 
a:visited,
a:focus,
a:active,
a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.nameLink {
	color: #35721b;
}

/** Login page */
.welcome {
	padding: 1em;
	background: #ff8013;
	color: #422100
}

/** Paralax effect (scrolling past background image) */
.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

/** Form elements */
.btn {
	background: black;
	color: #D0D0D0;
	border: none;
}
.btn:hover,
.btn:focus {
	background: #ff8013;
	border: none;
}

/** Media */
hr {
  background-color: #ff8013;
  border-width: 2px;
  border-style: solid;
  border-color: #ff8013;
}
.img-responsive {
  width: 100%;
}
.user-image {
  width: 100px;
  height: 100px;
  border: 10px solid #ecab18;
  border-right-color: #1ad280;
  border-bottom-color: #1ad280;
  border-radius: 50%;
  margin-bottom: .5em;
}
.scrollBox {
	padding: 1em;
	margin-top: 55px;
	overflow: scroll;
	max-height: 445px;
}
.feed-entry {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-khtml-border-radius: 10px;
	background: rgba(184, 179, 180, 0.85);
	padding: 1em;
	margin: 1em;
}
.feed-entry:hover {
	background: #ff5c54;
	background: rgba(255, 92, 84, 0.85);
}
.feed-background {        
    position:relative;
    z-index:1;
    height:500px;
    width:100%;
    background-attachment:fixed;    
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-image: url("/modules/core/img/content/wood.jpg");
}
.grow { 
	transition: all .2s ease-in-out; 
}
.grow:hover { 
	transform: scale(1.1); 
}
.formBox {
	margin: auto;
	margin-left: 20%;
	margin-top: 10%;
    width: 60%;
    border: 3px solid #8AC007;
  	background: #8AC007;
  	background: rgba(138, 192, 7, .70);
    padding: 10px;
   	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-khtml-border-radius: 10px;
}
.form-group-inline {
	padding-top: 1em;
}





