/** 
* core.css
* @author Karlina Beringer
* @description overall template for the Breaking Bread app.
*/

/** Stylize the navigation bar at the top of the page */
.navbar {
  	background: #35721b;
 	background: rgba(53, 114, 27, 0.85);
 	box-shadow: none;
 	border: none;
 	vertical-align: center;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar .navbar-brand {
	color: white;
	font-size: 24pt;
}
.navbar .navbar-brand:hover {
	color: #ffb715;
}
.navbar .nav > li > a {
	color: white;
	font-size: 14pt;
}
.navbar .nav > li > a:hover {
	color: #ffb715;
}
.navbar .navbar-toggle, 
.navbar .navbar-toggle:focus {
  border: 2px solid white;
  background: none;
}
.navbar .navbar-toggle:hover {
  border: 2px solid #ffb715;
  background: none;
}
.navbar .navbar-toggle .icon-bar {
	background: white;
	padding-top: 1px;
	height: 3px;
}
@media screen and (max-width: 768px) {
  .navbar-inverse .navbar-collapse {
    box-shadow: none;
    border-top: 2px solid white;
  }
}

/** Stylize the footer at the bottom of the page */
.footer {
  	background: #35721b;
 	background: rgba(53, 114, 27, 0.85);
 	box-shadow: none;
 	border: none;
 	vertical-align: center;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
 	font-size: 14px;
 	text-align: center;
 	color: white;
 	padding: 1em;
}
#footer-link {
	color: #422100;
	font-weight: bold;
	text-decoration: none;
}
#footer-link:hover,
#footer-link:focus {
	color: #ffb715;
	font-weight: bold;
}

/** Control the body fonts */
p, small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #523b4d;
}
h1, h2, h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #422100;
}
a, 
a:visited,
a:focus,
a:active,
a:hover {
  color: #ff8013;
  text-decoration: none;
  font-weight: normal;
}

/** Form elements */

/** Media */
hr {
  background-color: #ff8013;
  border-width: 2px;
  border-style: solid;
  border-color: #ff8013;
}
.img-responsive {
  width: inherit;
}

/** Default styles that came with the original MEAN.js skeleton project */
/*
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
*/


