<section data-ng-controller="DashboardController">
	<section class="container feed-background">
		<div class="dashboard-content row">

			<!-- Left sidebar -->
			<div class="col-md-4 scrollBox greenPanel">
				<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
				<br>
				<h2>Username</h2>
				<p>
					User bio information optional.
				</p>
			</div><!--.col-md-4-->

			<!-- Display friends carousel -->
			<div class="col-md-8 scrollBox greenPanel">
				<h2>Friends</h2>
  				<div class="row">
  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>
  				  
  				  	<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  					<div class="col-md-2">
  						<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						<p>Friend</p>
  					</div>

  				</div>
      		</div>
    	</div>
  	</div>
  	<p>
		<!--Button for adding friends -->
		<input type="button" class="btn btn-primary" value="Add Friends!"/>
	</p>
	</div><!--.col-md-8-->
	</div><!--.row-->
	</section><!--.feed-background-->
</section> 