<section data-ng-controller="DashboardController">
	<section class="container feed-background">
		<div class="dashboard-content row">

			<!-- Left sidebar -->
			<div class="col-md-4 scrollBox greenPanel">
				<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
				<br>
				<h2>Username</h2>
				<p>
					User bio information optional.
				</p>
			</div><!--.col-md-4-->


			<!-- Display friends carousel -->
			<div class="col-md-8 scrollBox greenPanel" style="padding:1em">
				<h2>Friends</h2>
  				<div class="row">
  					<!-- ***** The ng-repeat might come in handy later ****
 					<ul rn-carousel class="image">
  						<li ng-repeat="image in friends">
    						<div class="layer">{{ image }}</div>
  						</li>
					</ul>
					-->
					<ul rn-carousel class="image">
  						<li>
  							<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						</li>
  						<li>
  							<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						</li>
  						<li>
  							<img src="/modules/core/img/brand/default_user_image.jpg" class="user_profile_img"/>
  						</li>
					</ul>
					<div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex">
					</div>
  				</div>
      		</div>
    	</div>
  	</div>
  	<p>
		<!--Button for adding friends -->
		<input type="button" class="btn btn-primary" value="Add Friends!"/>
	</p>
	</div><!--.col-md-8-->
	</div><!--.row-->
	</section><!--.feed-background-->
</section> 