<section data-ng-controller="UserprofileController">
	<section class="container">
		<img src="/modules/core/img/content/picnic.jpg" class="img-responsive">
		<section class="welcome">
		<div>
			<h2>
				Welcome to Breaking Bread! 
			</h2>
			<p>
				This app lets you share food with friends.
			</p>
			</div>
		</section>
	</section>
</section>
<!--
	<!-- Background image to scroll past -->
<!--
	<section class="container feed-background">
	<img src="/modules/core/img/content/picnic.jpg" class="img-responsive" width="100%">
		<div class="row">
			<!-- Profile picture and basic info -->
<!--
			<div class="col-md-4">
				<!-- User profile picture *placeholder* -->
<!--
				<div class="row">
					<img src="/modules/core/img/brand/default_user_image.jpg" width="100px" height="100px"/>
				</div>
				<!-- Basic user data -->
<!--
				<div class="row">
					<h2>User Name</h2>
					<p>
						Optional bio section...This is test.
					</p>
				</div>
			</div>
			<!-- Friends list and events feed -->
<!--
		    <div class="col-md-8">
		    	<!-- Friend scroll -->
<!--
				<div class="row">
				</div>
				<!-- Friend add buttons -->
<!--
				<div class="row">

				</div>
			</div>
		</div>
	</section>
</section> -->
