<section data-ng-controller="SettingsController" id="change-password-section">
	<div id="signup_page_background" class="slide header">
		<h1>Change your password.</h1>
	</div>
	<div class="slide">
		<h2>Change Password</h2>
		<form name="userForm" data-ng-submit="changeUserPassword()" class="col-md-12 form-inline" autocomplete="off">
			<fieldset>
				<div class="col-md-4 formFields" id="first_name_field">
					<p>Current Password</p>
					<p>
						<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
					</p>
				</div>
				<div class="col-md-4" id="last_name_field">
					<p>New Password</p>
					<p>
						<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
					</p>
				</div>
				<div class="col-md-4" id="email_field">
					<p>Verify New Password</p>
					<p>
						<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
					</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="text-center form-group-inline">
					<button type="submit" class="btn btn-large btn-primary">Save Password</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>