<section data-ng-controller="SettingsController" id="edit-profile-section">
	<div id="signup_page_background" class="slide header">
		<h1>Edit your profile</h1>
	</div>
	<div class="slide">
		<h2>Edit Profile</h2>
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="col-md-12 form-inline" autocomplete="off">
			<fieldset>
				<div class="col-md-4 formFields" id="first_name_field">
					<p for="firstName">
						First Name
					</p>
					<p>
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
					</p>
				</div>
				<div class="col-md-4" id="last_name_field">
					<p for="lastName">
						Last Name
					</p>
					<p>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
					</p>
				</div>
				<div class="col-md-4" id="email_field">
					<p for="email">
						Email
					</p>
					<p>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
					</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="col-md-4" id="username_field">
					<p for="username">
						Username
					</p>
					<p>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
					</p>
				</div>
				<div class="col-md-4" id="password_field">
					<p for="password">
						Password
					</p>
					<p>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="user.password" placeholder="Password">
					</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="text-center form-group-inline">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
