<section data-ng-controller="FeedController" id="feed-section">
	<div class="slide">
	    <h2>The Feed</h2>
	    <p>Potlucks and more.</p>
		<section id="feed-table">
			<div class="row feed-entry grow" ng-repeat="f in feedEntries">
				<div class="row" align="center">
					<div class="row feedEntry" align="left">
					    <div class="col-md-4">
					    	<p>
					    		<img class="profilePic" width="100" height="100" src="/modules/core/img/brand/default_user_image.jpg">
					    	</p>
					    	<p>
					    		<a>{{f.name}}</a>
					    	</p>
					    </div>
					    <div class="col-md-8">
					    	<p><em>I'm bringing {{f.food}} to <a class="eventLink">{{f.event}}</a>.</em></p>
					    </div>
					</div>
				</div>
			</div>
		</section><!-- #feed-table -->
	</div><!-- .slide -->
</section><!-- #signup-section --> 		